DATABASE_URL=""
NEXT_PUBLIC_BACKEND_URL="http://localhost:3000"
NEXT_PUBLIC_WS_URL="ws://34.131.9.10"
WS_URL="http://localhost:3002"

REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
REDDIT_REDIRECT_URI="http://localhost:3001/api/reddit/callback"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3001/api/auth/callback/google"

NEXTAUTH_SECRET="helloworld"
NEXTAUTH_URL='http://localhost:3001'

BROWSER_USE_API_KEY_1=""
BROWSER_USE_API_KEY_2=""

GEMINI_API_KEY_1=""
GEMINI_API_KEY_2=""
GEMINI_API_KEY_3=""
GEMINI_API_KEY_4=""
GEMINI_API_KEY_5=""
GEMINI_API_KEY_6=""
GEMINI_API_KEY_7=""
GEMINI_API_KEY_8=""

CARTESIA_API_KEY_1=""
CARTESIA_API_KEY_2=""

ADMIN_SECRET=""
GROQ_API_KEY=""

DODO_PAYMENTS_API_KEY=""
DODO_PAYMENTS_WEBHOOK_KEY=""
DODO_PRODUCT_ID_BASIC=""
DODO_PRODUCT_ID_PRO=""

NOTION_CLIENT_ID=""
NOTION_CLIENT_SECRET="""
NOTION_REDIRECT_URI="http://localhost:3001/api/notion/callback"