DATABASE_URL=""
NEXT_PUBLIC_BACKEND_URL=""
NEXT_PUBLIC_WS_URL="ws://34.131.9.10"

RAZORPAY_TEST_KEY_ID=""
RAZORPAY_TEST_KEY_SECRET=""

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

GOOGLE_CLIENT_ID="""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

NEXTAUTH_SECRET="helloworld"
NEXTAUTH_URL='http://localhost:3001'

BROWSER_USE_API_KEY=""
DEEPGRAM_API_KEY=""

GEMINI_API_KEY_1=""
GEMINI_API_KEY_2=""
GEMINI_API_KEY_3=""
GEMINI_API_KEY_4=""
GEMINI_API_KEY_5=""

NOTION_CLIENT_ID="269d872b-594c-8028-80ed-003792612f01"
NOTION_CLIENT_SECRET="secret_txkSpJcylE6gOdO0e5ccxecO1hYQhLvuKt7R3CgyJse"
NOTION_REDIRECT_URI="http://localhost:3001/api/notion/callback"


